alembic==1.0.3
cairocffi==0.9.0
CairoSVG==2.2.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cssselect2==0.2.1
defusedxml==0.5.0
Flask==1.0.2
Flask-Migrate==2.3.0
Flask-SQLAlchemy==2.3.2
Flask-WeasyPrint==0.5
html5lib==1.0.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
Pillow==6.2.0
pycparser==2.19
Pyphen==0.9.5
python-dateutil==2.7.5
python-editor==1.0.3
requests==2.20.1
six==1.11.0
SQLAlchemy==1.2.14
tinycss2==0.6.1
urllib3==1.24.1
WeasyPrint==43
webencodings==0.5.1
Werkzeug==0.15.3
